#leftbox {
    float:left; 
    width:50%;
}

#rightbox{
    float:right;
    background:rgb(0, 0, 0);
    width:50%;
    color:white;
    height: 70vh;
    overflow-y: scroll;
    height: XXXpx;
    
}
.stdin{
margin-left: 50pt;
}

